h1{
    color:red;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  h1#headone{
      @extend h1;
      background-color: rebeccapurple;
      
  }
  h2{
      text-decoration: underline;
  }
  h2#headtwo{
      @extend h2;
      background-color: blue;
  }
  h3#headthree{
      @extend h2 ;
      @extend h1 ;
      background-color: rebeccapurple;
      
  }